<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">

  <title>Login | Myshopping</title>

    <link rel="stylesheet" media="screen" href="/assets/active_admin.self-88cbbe23aecfd489108fe7f15a29fb15e4449b4650847ca58c24aeba8e0407f2.css?body=1" />
    <link rel="stylesheet" media="print" href="/assets/active_admin/print.self-ec81b36f6786484af66638eee65f83f1ba8dead9a60a6bed19a921848d29a0f7.css?body=1" />
    <script src="/javascripts/active_admin.js"></script>

  

    <meta name="robots" content="noindex, nofollow" />

  <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="ISkk9/QJXivg5Sf6BmvlTNAHgYDI+FPgXXRGzgCRoIFbB+IPdzhv+N0YiSwShJ/MQnL5lWo2Zb+s6EcavI8EPA==" />
</head>
<body class="active_admin logged_out new">
<div id="wrapper">

  <div id="content_wrapper">
      <div class="flash flash_alert">You need to sign in or sign up before continuing.</div>
    <div id="active_admin_content">
      <div id="login">
  <h2>Myshopping Login</h2>

  <form id="session_new" novalidate="novalidate" class="formtastic admin_user" action="/admin/login" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="Kr7n3Vk8IFra9v93aRD+Oz6iXse/3coFLWuqQHmrDV1QkCEl2g0RiecLUaF9/4S7rNcm0h0T/Frc96uUxbWp4A==" /><fieldset class="inputs"><ol><li class="email input required autofocus stringish" id="admin_user_email_input"><label for="admin_user_email" class="label">Email<abbr title="required">*</abbr></label><input id="admin_user_email" autofocus="autofocus" type="email" value="" name="admin_user[email]" />

</li><li class="password input required stringish" id="admin_user_password_input"><label for="admin_user_password" class="label">Password<abbr title="required">*</abbr></label><input maxlength="128" id="admin_user_password" type="password" name="admin_user[password]" />

</li><li class="boolean input optional" id="admin_user_remember_me_input"><input type="hidden" name="admin_user[remember_me]" value="0" /><label for="admin_user_remember_me" class=""><input type="checkbox" name="admin_user[remember_me]" id="admin_user_remember_me" value="1" />Remember me</label>

</li></ol></fieldset><fieldset class="actions"><ol><li class="action input_action " id="admin_user_submit_action"><input type="submit" name="commit" value="Login" data-disable-with="Login" /></li></ol></fieldset></form>

  

  <a href="/admin/password/new">Forgot your password?</a><br />




</div>

    </div>
  </div>
  <div id="footer">
    
  </div>
</div>
</body>
</html>