<<<<<<< HEAD
=======

>>>>>>> a16b365c7a6a47ec436651520bc2017bd522c3cd
 <!DOCTYPE html>
    <html>
      <head>
        <title>Contact | Shopping website</title>
      </head>
      <body>
        <h1>Contact</h1>
        <h3>
<<<<<<< HEAD
        Linkman is hope in this website,she eamil is www.420426962.com@qq.com
=======
        If you have problem in this website,please call hope,she eamil is www.420426962.com@qq.com
>>>>>>> a16b365c7a6a47ec436651520bc2017bd522c3cd
          
        </h3>
      </body>
    </html>