 <!DOCTYPE html>
    <html>
      <head>
        <title>Contact | Shopping website</title>
      </head>
      <body>
        <h1>Contact</h1>
        <h3>
        Linkman is hope in this website,she eamil is www.420426962.com@qq.com
          
        </h3>
      </body>
    </html>