<p>Thanks for you payment!!!</p>
<<<<<<< HEAD
<%= link_to "Download your product","https://s3-us-west-2.amazonaws.com/rails-shoppingapp-bucket/bag.jpg" %>
=======
<%= link_to "Download your product","https://s3-us-west-2.amazonaws.com/rails-shoppingapp-bucket/hotpot.jpg" %>
>>>>>>> 4a859e6580592cd900e2035aa18e6193abb93ef2
