 <footer class="footer">
      
      <small>
        The main reference is <a href="https://dashboard.stripe.com/test/dashboard">stripe</a>
        
      </small>
      <nav>
        <ul>
<<<<<<< HEAD
          
=======
         
>>>>>>> a16b365c7a6a47ec436651520bc2017bd522c3cd
          <li><%= link_to "Contact", contact_path %></li>
          <li><a href="https://www.amazon.cn/">Other wwbsite</a></li>
        </ul>
      </nav>
    </footer>